/*
Document   : _latto.pagers
Created on : Nov 5, 2012, 2:01:58 PM
Author     : kristiankaa
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/_latto.pagers.scss */
root {
  display: block;
}
