/* line 11, ../sass/latto.tables.scss */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 20, ../sass/latto.tables.scss */
.table {
  width: 100%;
}
/* line 24, ../sass/latto.tables.scss */
.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
}
/* line 29, ../sass/latto.tables.scss */
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
/* line 33, ../sass/latto.tables.scss */
.table td {
  vertical-align: top;
}
/* line 38, ../sass/latto.tables.scss */
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0;
}
/* line 42, ../sass/latto.tables.scss */
.table tbody + tbody {
  border-top: 2px solid #ddd;
}

/* line 54, ../sass/latto.tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 63, ../sass/latto.tables.scss */
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 71, ../sass/latto.tables.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
/* line 77, ../sass/latto.tables.scss */
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 82, ../sass/latto.tables.scss */
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
/* line 86, ../sass/latto.tables.scss */
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
/* line 91, ../sass/latto.tables.scss */
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
/* line 95, ../sass/latto.tables.scss */
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 108, ../sass/latto.tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
