@font-face {
  font-family: "Amble Light Condensed";
  src: url('fonts/amble/Amble-LightCondensed-webfont.eot');
  src: url('fonts/amble/Amble-LightCondensed-webfont.eot?#iefix') format('eot'), url('fonts/amble/Amble-LightCondensed-webfont.woff') format('woff'), url('fonts/amble/Amble-LightCondensed-webfont.ttf') format('truetype'), url('fonts/amble/Amble-LightCondensed-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
@font-face {
  font-family: "Amble Light Condensed";
  src: url('fonts/amble/Amble-LightCondensed-webfont.eot');
  src: url('fonts/amble/Amble-LightCondensed-webfont.eot?#iefix') format('eot'), url('fonts/amble/Amble-LightCondensed-webfont.woff') format('woff'), url('fonts/amble/Amble-LightCondensed-webfont.ttf') format('truetype'), url('fonts/amble/Amble-LightCondensed-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 5, ../sass/latto.typography.scss */
body {
  color: #1b1b1b;
  font-family: "Amble Light Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 39, ../sass/latto.mixins.scss */
::-webkit-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::-moz-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::-o-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::selection {
  color: #eeeeee;
  background: #555555;
}

/* line 24, ../sass/latto.typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* line 27, ../sass/latto.typography.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: rgba(27, 27, 27, 0.75);
  text-decoration: none;
}
/* line 31, ../sass/latto.typography.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: rgba(27, 27, 27, 0.85);
}
/* line 34, ../sass/latto.typography.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #1b1b1b;
}

/* line 40, ../sass/latto.typography.scss */
h1 {
  color: #1b1b1b;
}

/* line 44, ../sass/latto.typography.scss */
h3 {
  line-height: 22.5px;
}

/* line 52, ../sass/latto.typography.scss */
a:link {
  color: #00b7e7;
  text-decoration: none;
}
/* line 56, ../sass/latto.typography.scss */
a:visited {
  color: #007a9b;
}
/* line 59, ../sass/latto.typography.scss */
a:hover {
  color: #006681;
  text-decoration: underline;
}
/* line 63, ../sass/latto.typography.scss */
a:focus {
  color: #006681;
}
/* line 66, ../sass/latto.typography.scss */
a:active {
  color: black;
}

/* line 84, ../sass/latto.typography.scss */
.small {
  font-size: 6.5px;
}

/* line 88, ../sass/latto.typography.scss */
.medium {
  font-size: 9.75px;
}

/* line 92, ../sass/latto.typography.scss */
.big {
  font-size: 16.25px;
}

/* line 96, ../sass/latto.typography.scss */
.bigger {
  font-size: 17.875px;
}

/* line 100, ../sass/latto.typography.scss */
.biggest {
  font-size: 19.5px;
}

/* line 8, ../sass/latto.grid.scss */
#page {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 12, ../sass/latto.grid.scss */
.grid-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* line 18, ../sass/latto.grid.scss */
.grid-3-left {
  float: left;
  width: 18.75%;
  margin-left: 0%;
  margin-right: -18.75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 22, ../sass/latto.grid.scss */
.grid-3-center-left {
  float: left;
  width: 18.75%;
  margin-left: 18.75%;
  margin-right: -37.5%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 26, ../sass/latto.grid.scss */
.grid-3-center-right {
  float: right;
  width: 18.75%;
  margin-right: 18.75%;
  margin-left: -37.5%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 30, ../sass/latto.grid.scss */
.grid-3-right {
  float: right;
  width: 18.75%;
  margin-right: 0%;
  margin-left: -18.75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 34, ../sass/latto.grid.scss */
.grid-4-left {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 38, ../sass/latto.grid.scss */
.grid-4-center-left {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 42, ../sass/latto.grid.scss */
.grid-4-center-right {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 46, ../sass/latto.grid.scss */
.grid-4-right {
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 50, ../sass/latto.grid.scss */
.grid-8-left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 54, ../sass/latto.grid.scss */
.grid-8-right {
  float: right;
  width: 50%;
  margin-right: 0%;
  margin-left: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 58, ../sass/latto.grid.scss */
.grid-10-left {
  float: left;
  width: 62.5%;
  margin-left: 0%;
  margin-right: -62.5%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 62, ../sass/latto.grid.scss */
.grid-10-center {
  float: left;
  width: 62.5%;
  margin-left: 18.75%;
  margin-right: -81.25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 66, ../sass/latto.grid.scss */
.grid-10-right {
  float: right;
  width: 62.5%;
  margin-right: 0%;
  margin-left: -62.5%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 70, ../sass/latto.grid.scss */
.grid-12-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 74, ../sass/latto.grid.scss */
.grid-12-right {
  float: right;
  width: 75%;
  margin-right: 0%;
  margin-left: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 78, ../sass/latto.grid.scss */
.grid-13-left {
  float: left;
  width: 81.25%;
  margin-left: 0%;
  margin-right: -81.25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 82, ../sass/latto.grid.scss */
.grid-13-right {
  float: right;
  width: 81.25%;
  margin-right: 0%;
  margin-left: -81.25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 86, ../sass/latto.grid.scss */
.grid-full {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 91, ../sass/latto.grid.scss */
.grid-clear-both {
  clear: both;
}

/* line 95, ../sass/latto.grid.scss */
.grid-clear-left {
  clear: left;
}

/* line 99, ../sass/latto.grid.scss */
.grid-clear-right {
  clear: right;
}

/* line 103, ../sass/latto.grid.scss */
.grid-stack {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 108, ../sass/latto.grid.scss */
.grid-row {
  clear: both;
  margin-bottom: 20px;
}
/* line 111, ../sass/latto.grid.scss */
.grid-row.last {
  margin-bottom: 0;
}

/* line 123, ../sass/latto.grid.scss */
.add-spacing-after {
  margin-bottom: 1em;
}

/* line 129, ../sass/latto.grid.scss */
.tdcss-fragment .grid-row .grid-inner {
  background-color: #f1f1f1;
  border: 1px dashed #e1e1e1;
  padding: .5em;
}
/* line 134, ../sass/latto.grid.scss */
.tdcss-fragment .grid-row:after {
  clear: both;
  content: "";
  display: table;
}

@media screen
and (max-width: 768px) {
  /* line 144, ../sass/latto.grid.scss */
  body {
    background-color: red;
  }

  /* line 148, ../sass/latto.grid.scss */
  .content {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 153, ../sass/latto.grid.scss */
  .sidebar-first {
    clear: both;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 158, ../sass/latto.grid.scss */
  .sidebar-second {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* ==========================================================================
   Base styling
   ========================================================================== */
/* line 9, ../sass/latto.base.scss */
body {
  background: url("../images/default-bg-pattern.png") white;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/latto.base.scss */
header {
  background: url("../images/primary-pattern.png");
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* line 22, ../sass/latto.base.scss */
.logo {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}

/* line 28, ../sass/latto.base.scss */
.site-name {
  color: white;
  float: left;
  font-size: 450%;
  line-height: 100%;
  margin-left: 10px;
}

/* line 36, ../sass/latto.base.scss */
.site-slogan {
  clear: left;
  color: #999999;
  margin-left: 10px;
}

/* ==========================================================================
   Theme specific grid styling
   ========================================================================== */
/* line 47, ../sass/latto.base.scss */
.grid-content .grid-inner {
  background-color: rgba(255, 255, 255, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);
  padding: 20px;
}

/* ==========================================================================
   Basic elements
   ========================================================================== */
/* Paragraphs
   ========================================================================== */
/* line 62, ../sass/latto.base.scss */
p {
  margin-bottom: 6.667px;
}

/* Default horizontal ruler styles
   ========================================================================== */
/* line 69, ../sass/latto.base.scss */
hr {
  background: #555555;
  color: #555555;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 71, ../sass/latto.base.scss */
hr.primary {
  background: #1b1b1b;
  color: #1b1b1b;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 74, ../sass/latto.base.scss */
hr.secondary {
  background: red;
  color: red;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 77, ../sass/latto.base.scss */
hr.tertiary {
  background: #00b7e7;
  color: #00b7e7;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
/* line 86, ../sass/latto.base.scss */
.nav-wrapper {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ==========================================================================
   List styling
   ========================================================================== */
/* line 99, ../sass/latto.base.scss */
ul li h3 {
  margin-bottom: 5px;
}
/* line 102, ../sass/latto.base.scss */
ul li p {
  margin-bottom: 5px;
}
/* line 107, ../sass/latto.base.scss */
ul.date-list .date-wrapper {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
  min-width: 60px;
  color: #555555;
  font-size: 11.7px;
  text-align: center;
  vertical-align: top;
}
/* line 120, ../sass/latto.base.scss */
ul.date-list .date-wrapper .day {
  background-color: #00b7e7;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 125, ../sass/latto.base.scss */
ul.date-list .date-wrapper .date-wrapper-inner {
  background: url("../images/default-bg-pattern.png") white;
  border: 1px solid #d9d9d9;
}
/* line 128, ../sass/latto.base.scss */
ul.date-list .date-wrapper .date-wrapper-inner .date {
  font-size: 19.5px;
  margin-top: 5px;
}
/* line 134, ../sass/latto.base.scss */
ul.date-list .content {
  display: inline-block;
}
/* line 138, ../sass/latto.base.scss */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 143, ../sass/latto.base.scss */
ul.list li {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 147, ../sass/latto.base.scss */
ul.list li div.subheading {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 150, ../sass/latto.base.scss */
ul.list li div.subheading span, ul.list li div.subheading a {
  margin-right: 5px;
}
/* line 153, ../sass/latto.base.scss */
ul.list li div.subheading span.date {
  color: #999999;
}
/* line 159, ../sass/latto.base.scss */
ul.list li.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 169, ../sass/latto.base.scss */
ul.floated li img {
  display: inline-block;
  padding-right: 10px;
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 175, ../sass/latto.base.scss */
ul.floated li div.content {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 186, ../sass/latto.base.scss */
ul.simple li img, ul.simple li div.subheading, ul.simple li div.content {
  display: none;
}
/* line 193, ../sass/latto.base.scss */
ul.nav.nav-inline {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0, 109, 171, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF006DAB,endColorstr=#BF006DAB);
  border-left: 1px solid rgba(0, 109, 171, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
}
/* line 200, ../sass/latto.base.scss */
ul.nav.nav-inline li {
  background-color: rgba(0, 109, 171, 0.25);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#40006DAB,endColorstr=#40006DAB);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 109, 171, 0.75);
  display: table-cell;
}
/* line 205, ../sass/latto.base.scss */
ul.nav.nav-inline li a {
  color: #eeeeee;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
/* line 210, ../sass/latto.base.scss */
ul.nav.nav-inline li a:hover {
  color: white;
}
/* line 214, ../sass/latto.base.scss */
ul.nav.nav-inline li.first {
  border-left: 0;
}
/* line 217, ../sass/latto.base.scss */
ul.nav.nav-inline li.last {
  border-right: 1px solid rgba(0, 109, 171, 0.5);
}
/* line 220, ../sass/latto.base.scss */
ul.nav.nav-inline li.active {
  border-left: 0;
  border-right: 0;
  background-color: rgba(0, 109, 171, 0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80006DAB,endColorstr=#80006DAB);
}

/* line 6, ../sass/latto.panels.scss */
.branding .pane-page-logo {
  float: left;
}
