// Grid system based on http://zengrids.com.
//
// Zen Grids version 1.2

@import "zen";

$zen-column-count: $grid-column-count;
$zen-gutter-width: $default-spacing;

/* See: http://zengrids.com/help/#vars-legacy */
$box-sizing-polyfill-path: '../scripts/boxsizing.htc';

#page {
  @include zen-grid-container; // Apply this mixin to the container.
}

.grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden; 
}

.grid-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
  overflow: hidden;  
}

.grid-3-left {
  @include zen-grid-item(3, 1);
}

.grid-3-center-left {
  @include zen-grid-item(3, 4);
}

.grid-3-center-right {
  @include zen-grid-item(3, 4, right);
}

.grid-3-right {
  @include zen-grid-item(3, 1, right);
}

.grid-4-left {
  @include zen-grid-item(4, 1);
}

.grid-4-center-left { 
  @include zen-grid-item(4, 5);
}

.grid-4-center {
  @include zen-grid-item(4, 5);  
}

.grid-4-center-right {
  @include zen-grid-item(4, 9);
}

.grid-4-right {  
  @include zen-grid-item(4, 1, right);  
}

.grid-5-left {
  @include zen-grid-item(5, 1);
}

.grid-5-right {
  @include zen-grid-item(5, 1, right);
}

.grid-6-center {
  @include zen-grid-item(6, 6);
}

.grid-8-left {
  @include zen-grid-item(8, 1);
}

.grid-8-center {
  @include zen-grid-item(8, 5);
}

.grid-8-right {
  @include zen-grid-item(8, 1, right);
}

.grid-9-left {
  @include zen-grid-item(9, 1);
}

.grid-9-right {
  @include zen-grid-item(9, 1, right);
}

.grid-10-left {
  @include zen-grid-item(10, 1);
}

.grid-10-center {
  @include zen-grid-item(10, 4);
}

.grid-10-right {
  @include zen-grid-item(10, 1, right);
}

.grid-12-left {
  @include zen-grid-item(12, 1);
}

.grid-12-right {
  @include zen-grid-item(12, 1, right);
}

.grid-13-left {
  @include zen-grid-item(13, 1);
}

.grid-13-right {
  @include zen-grid-item(13, 1, right);
}

.grid-clear-both {
  @include zen-clear(both);
}

.grid-clear-left {
  @include zen-clear(left);
}

.grid-clear-right {
  @include zen-clear(right);
}

.grid-stack {
  @include zen-clear(both);
  @include zen-grid-item($zen-column-count,1);  
}

.grid-row {
  @include zen-clear(both);
  @include append-bottom();
  
  overflow: hidden;
  
  &.last {
    @include append-bottom(0);
  }
}