//
// Handles media queries for all devices.
//

// Note: The “only” keyword after @media is optional and only there so that
// older browsers ignore the media query if they don’t support it.
// http://mobile.smashingmagazine.com/2012/10/24/beyond-common-media-query-breakpoints/


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$breakpoint-small:    480px;
$breakpoint-medium:   768px;

// Calculate column count
$grid-25: $grid-column-count * .25;
$grid-33: $grid-column-count * .3333333333;
$grid-50: $grid-column-count * .5;
$grid-66: $grid-column-count * .6666666666;
$grid-75: $grid-column-count * .75;


// -----------------------------------------------------------------------------
// The respond-to mixin
// -----------------------------------------------------------------------------

@mixin respond-to($media) {

	// Sizes
	@if $media == small {
		@media only screen and (max-width: $breakpoint-small) { @content; }
	}

	@else if $media == medium {
		@media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) { @content; }
	}

	@else if $media == large {
		@media only screen and (min-width: $breakpoint-medium + 1) { @content; }
	}

}


// -----------------------------------------------------------------------------
// Size mixins
// -----------------------------------------------------------------------------

@mixin small {
  @include respond-to(small) { @content; }
}

@mixin medium {
  @include respond-to(medium) { @content; }
}

@mixin large {
  @include respond-to(large) { @content; }
}


// -----------------------------------------------------------------------------
// Styling for testing
// -----------------------------------------------------------------------------

.grid-wrapper {  
  @include small() {
    border: 3px dashed red;
  }

  @include medium() {
    border: 3px dashed green;
  }

  @include large() {
    border: 3px dashed blue;
  }  
}


.content-inner {
  background: GreenYellow;
  border: 3px solid Green;
  margin: 10px;
  padding: 10px;
}


// -----------------------------------------------------------------------------
// Default grid styling
// -----------------------------------------------------------------------------

.primary-content,
.secondary-content,
.tertiary-content,
.attachment-first,
.attachment-second,
.attachment-third,
.attachment-fourth {
  display: block;
  padding-left: $default-spacing / 2;
  padding-right: $default-spacing / 2;
}


@import '_latto.mq.displays.scss';
@import '_latto.mq.attachments.scss';


// Layout templates
// The templates extends displays and attachments

.layout-template-default {
  @extend %content-display-default;
  @extend %attachments-display-two;
}

.layout-template-two {
  @extend %content-display-two;
  @extend %attachments-display-two;
}

.layout-template-three {
  @extend %content-display-three;
  @extend %attachments-display-three;
}

.layout-template-four {
  @extend %content-display-three;
  @extend %attachments-display-four;
}

.layout-template-five {
  @extend %content-display-three;
  @extend %attachments-display-five;
}