// =============================================================================
// Navigation
// =============================================================================


// -----------------------------------------------------------------------------
// Easy-to-read class names extending more generic classes
// -----------------------------------------------------------------------------
//
.main-menu {
  @extend .horizontal-menu;
}

.sub-menu {
  @extend .vertical-menu;
}


// -----------------------------------------------------------------------------
// The navigation bar used for the main-menu
// -----------------------------------------------------------------------------
//
.horizontal-menu {
  @include rem('font-size', $navbar-font-size);

  display: table;
  width: 100%;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    width: auto;
  }

  &.nav-inline {

    margin: 0;
    li {
      display: table-cell;
      text-align: center;

      a {
        display: block;
        height: 100%;
        min-width: 100px;
        padding: $navbar-item-spacing;
        text-decoration: none;
      }

    }
  }
}


// -----------------------------------------------------------------------------
// Vertical menu
// -----------------------------------------------------------------------------
//
.vertical-menu {
  margin: 0;

  > li {
    
    display: block;

    a {
      display: block;
      padding-top: $sidebar-item-spacing;
      padding-bottom: $sidebar-item-spacing;
    }
  }
}