// =============================================================================
// The default stylesheet for the Latto theme
// =============================================================================
//
// Styleguide: ding2tal.ting.dk/profiles/ding2/themes/latto/tools/tdcss/index.html
//

@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';


// -----------------------------------------------------------------------------
// Basic styling
// -----------------------------------------------------------------------------
//
body {
  background-color: $theme-primary-color;
  margin: 0;
  padding: 0;
}

header {

  .logo,
  .site-name {
    float: left;
  }

}

img {
  display: inline;
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: $default-spacing / 3;
}


// -----------------------------------------------------------------------------
// Reset standard Drupal classes
// -----------------------------------------------------------------------------
//
// Form action is a standard class for all button wrappers in Drupal.
//
.form-actions {
  margin: 0;
  padding: 0;
  border: 0;
  background: inherit;
  display: inline-block;
}


// -----------------------------------------------------------------------------
// Horizontal ruler
// -----------------------------------------------------------------------------
//
// Styling of the <hr> tag, uses the colruler() mixin, which enables an easy way
// to change color of the ruler.
//
hr {
  @include colruler();
}


// -----------------------------------------------------------------------------
// Base classes used for extending
// -----------------------------------------------------------------------------
//
.label {
}

.lead {
}

.meta {
}

.image-inline {
  float: left;
  margin-right: $default-spacing / 4;
}

.image-inline-pull-right {
  @extend .pull-right;
  
  margin-left: $default-spacing / 4;
}

.content {
}


// -----------------------------------------------------------------------------
// Miscellanous helper classes
// -----------------------------------------------------------------------------
//

.pull-right {
  float: right;
}