@import "compass/css3";

.input-prepend,
.input-append {
  margin-bottom: 5px;
  
  input,
  select,
  .uneditable-input {
    position: relative; // placed here by default so that on :focus we can place the input above the .add-on for full border and box-shadow goodness
    *margin-left: 0;
    @include border-radius(0 $form-border-radius $form-border-radius 0);
    // Make input on top when focused so blue border and shadow always show
    &:focus {
      z-index: 2;
    }@include box-sizing(content-box);
  }
  .uneditable-input {
    border-left-color: #ccc;
  }
  
  .add-on {
    @include box-sizing(content-box);
    display: inline-block;
    width: auto;
    height: $theme-line-height;
    min-width: 16px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: $theme-line-height;
    text-align: center;
    text-shadow: 0 1px 0 $white;
    background-color: $gray-light;
    border: 1px solid #ccc;
  }
  .add-on,
  .btn {
    margin-left: -1px;
    @include border-radius(0);
  }
  .active {
    background-color: lighten($green, 30);
    border-color: $green;
  }
}
.input-prepend {
  .add-on,
  .btn {
    margin-right: -1px;
  }
  .add-on:first-child,
  .btn:first-child {
    @include border-radius($form-border-radius 0 0 $form-border-radius);
  }
}
.input-append {
  input,
  select,
  .uneditable-input {
    @include border-radius($form-border-radius 0 0 $form-border-radius);
  }
  .uneditable-input {
    border-right-color: #ccc;
    border-left-color: #eee;
  }
  .add-on:last-child,
  .btn:last-child {
    @include border-radius(0 $form-border-radius $form-border-radius 0);
  }
}
// Remove all border-radius for inputs with both prepend and append
.input-prepend.input-append {
  input,
  select,
  .uneditable-input {
    @include border-radius(0);
  }
  .add-on:first-child,
  .btn:first-child {
    margin-right: -1px;
    @include border-radius($form-border-radius 0 0 $form-border-radius);
  }
  .add-on:last-child,
  .btn:last-child {
    margin-left: -1px;
    @include border-radius(0 $form-border-radius $form-border-radius 0);
  }
}

.form-inside {
  @include input-inline(); 
}
.form-inside-large {
  @include input-inline(50px);  
}