// Styling of lists.
// Suitable for displaying news, events, headlines etc.
//
// .list          - The default styling for an unordered list in Latto theme.
// .list-image    - Implementation of the default list with an image floated to
//                  the left of the summary.
// .list-compact  - A list displaying headlines with a date (optional).

//
// Styleguide reference:
// http://ding2tal.ting.dk/profiles/ding2/themes/latto/tools/tdcss/#lists


// @START .list
// Default .list which is used to @extend on other list types
.list {
  margin: 0;
  padding: 0;
  width: 100%;

  list-style-type: none;

  > .list-item {
    border-bottom: 1px solid $gray-light;
    padding-bottom: $list-item-spacing * 1.5;
    margin-bottom: $list-item-spacing * 1.5;

    .image-container {

      img {
        height: auto;
        max-width: 100%;
      }
    }

    .subheading {
      margin-top: $list-item-spacing;
      margin-bottom: $list-item-spacing;

      .date {
        color: lighten($text-primary-color, 25%);
      }
    }

    &.last {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;

    }
  }

  &.highlighted {
    > .list-item {
      border-bottom: 0;
    }
  }
}

// @END .list


// @START .list-image
// List with image (either left or right, depends on markup order)

.list-image {
  @extend .list;

  > .list-item {

    .image-container {
      display: table-cell;
      margin-bottom: $list-item-spacing;
      max-width: $list-picture-width;

      img {
        @include box-sizing(border-box);

        padding-right: $list-item-spacing;
        margin-top: 3px; /* Adding margin to make sure top of image align with top of text */
        height: auto;
        max-width: 100%;
      }
    }

    .content {
      @include box-sizing(border-box);

      display: table-cell;

      vertical-align: top;
    }
  }

  &.highlighted {
    margin-top: $default-spacing;

    letter-spacing: -4px;

    div, p, a, span {
      letter-spacing: normal;
    }

    .list-item {
      border-bottom: 0;
      display: inline-block;
      max-width: 50%;
    }
  }
}

// We temporary @extend .list-image to make sure we don't break the styling
// already used.

// @TODO: Remove all uses of class="list floated".
.list.floated {
  @extend .list-image;
}

// @END .list-image


// @START .list-compact
// A compact list in one line, can include a date

.list-compact {
  @extend .list;

  > .list-item {
    display: table;

    .date {
      display: table-cell;
      min-width: 60px;

      color: lighten($text-primary-color, 25%);
    }
    .heading {
      display: table-cell;
      margin-left: $default-spacing;
    }
  }
}

// We temporary @extend .list-compact to make sure we don't break the styling

// @TODO: Remove all uses of class="list simple".
.list.simple {
  @extend .list-compact;
}

// @END .list-compact

// Styling of a default date-list in Latto theme. Suitable for displaying
// upcomming events.
//
// .date-list         - A list containing events with information about date,
//                      location, time and entrence fee.
//
// No styleguide reference
.date-list {
  @extend .list;

  .date-wrapper {
    @include single-box-shadow;
    @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
    @include rem('font-size', $theme-font-size * .9);

    display: inline-block;
    margin-top : $default-spacing / 5;
    margin-right: $default-spacing / 2;
    min-width: 60px;

    color: lighten($text-primary-color, 25%);
    text-align: center;
    vertical-align: top;

    .day {
      background-color: $theme-secondary-color;
      color: $white;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
    .date-wrapper-inner {
      border: 1px solid lighten($black, 85%);

      background: $theme-primary-color;

      .date {
        @include rem('font-size', $theme-font-size * 1.5);

        margin-top: $default-spacing / 4;
      }
    }
  }
  .content {
    display: inline-block;
  }
}