// =============================================================================
// PAGER
// =============================================================================

// -----------------------------------------------------------------------------
// Default styling for a pager with previous and next link.
// -----------------------------------------------------------------------------
//
.pager {
  margin-left: 0;
  list-style: none;
  text-align: center;
  
  
  li {
    display: inline-block;
    padding: $default-spacing * 0.25 $default-spacing * 0.75;
    background: $gray-light;
  }
  
  .previous a {
    float: left;  
  }
  
  .next a {
    float: right;  
  }
  
  .disabled,
  .disabled a,
  .disabled a:hover {
    color: $gray-light;
    background-color: $gray-lighter;
    cursor: default;
    text-decoration: none;
  }
}