// =============================================================================
// Navigation
// =============================================================================


// -----------------------------------------------------------------------------
// Easy-to-read class names extending more generic classes
// -----------------------------------------------------------------------------
//
.main-menu {
  @extend .horizontal-menu;
}

.sub-menu {
  @extend .vertical-menu;
}


// -----------------------------------------------------------------------------
// The navigation bar used for the main-menu
// -----------------------------------------------------------------------------
//
.horizontal-menu {
  @include rem('font-size', $theme-font-size * 1.25);

  display: table;
  margin: 0;
  width: 100%;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    width: auto;
  }

  > li {
    display: table-cell;
    text-align: center;

    a {
      display: block;
      height: 100%;
      margin-right: $navbar-item-spacing;
      min-width: 100px;
      padding: $navbar-item-spacing;

      background-color: lighten($gray-light, 5%);
      text-decoration: none;
      
      &:hover,
      &.active {
        background-color: $navbar-bg-color;
      }

      &.last {
        margin-right: 0;
      }
    }

  }
}


// -----------------------------------------------------------------------------
// Vertical menu
// -----------------------------------------------------------------------------
//
.vertical-menu {
  margin: 0;

  > li {

    display: block;

    a {
      display: block;
      padding-top: $navbar-item-spacing;
      padding-bottom: $navbar-item-spacing;
    }
  }
}

// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------
//
.tabs {
  border-bottom: 1px solid $gray-light;
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    margin-bottom: -1px;
    padding: $default-spacing / 2;
  }
  
  .active {
    background-color: White;
    border: 1px solid $gray-light;
    border-bottom: 0;
    position: relative;
    top: 1px;
    
    a {
      color: $gray-dark;  
    }
    a:hover {
      cursor: default;
      text-decoration: none;  
    }
  }
}