// =============================================================================
// Default typography
// =============================================================================


html{
  @include rem('font-size',$base-font-size);
}

body {
  @include rem('font-size', $theme-font-size);
  @include rem('line-height', $theme-line-height);

  color: $text-primary-color;
  font-family: $theme-font-family;
}


// -----------------------------------------------------------------------------
// The default colors for ::selection
// -----------------------------------------------------------------------------
//
@include selection($text-selection-color, $text-selection-background);


// -----------------------------------------------------------------------------
// Styling for headers and links inside headers
// -----------------------------------------------------------------------------
//
// :link              - Style for a link nested in a header.
// :visited           - Style for a visited link nested in a header.
// :hover             - Effect when scrolling over a link nested inside a header.
// :focus             - Style for a link in focus nested inside a header.
// :active            - Style for an active link inside a header.
//
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-primary-color;
  font-weight: normal;
  a {
    &:link {
      color: $text-primary-color;
      text-decoration: none;
    }
    &:visited {
      color: $text-primary-color;
    }
    &:hover {
      color: darken($text-primary-color, 25%);
    }
    &:focus {
      color: $link-color-hover;
    }
    &:active {
      background-color: $text-selection-background;
      color: $text-selection-color;
    }
  }
}

h1 {
  @include rem('font-size', $theme-font-size * 2);
}

h2 {
  @include rem('font-size', $theme-font-size * 1.8);
}

h3 {
  @include rem('font-size', $theme-font-size * 1.6);
  @include rem('line-height', $theme-line-height * 1.25);
}

h4 {
  @include rem('font-size', $theme-font-size * 1.4);
}

h5 {
  @include rem('font-size', $theme-font-size * 1.1);
}

h6 {
  @include rem('font-size', $theme-font-size * 1);
}


// -----------------------------------------------------------------------------
// Header classes
// -----------------------------------------------------------------------------
//
.page-title {
  @include rem('margin-bottom', $default-spacing / 2);

}

.block-title {
  @include rem('margin-bottom', $default-spacing / 1.5);
  @include rem('padding', $default-spacing / 3 $default-spacing / 1.5);

  background-color: $gray-light;
}


// -----------------------------------------------------------------------------
// Link styling
// -----------------------------------------------------------------------------
//
a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
  &:focus {
    color: $link-color-hover;
  }
}


// -----------------------------------------------------------------------------
// Strong, bold, emphasized styling
// -----------------------------------------------------------------------------
//
b,
strong,
.strong {
  font-weight: bold;
}

em {
  // Custom styling for emphasized text goes here.
}


// -----------------------------------------------------------------------------
// Classes to apply elements for different font sizes
// -----------------------------------------------------------------------------
//
.text-small {
  @include rem('font-size', $theme-font-size * .5);
}

.text-medium {
  @include rem('font-size', $theme-font-size * .75);
}

.text-big {
  @include rem('font-size', $theme-font-size * 1.25);
}

.text-bigger {
  @include rem('font-size', $theme-font-size * 1.375);
}

.text-biggest {
  @include rem('font-size', $theme-font-size * 1.5);
}