// This file holds all the variables for the theme.

// Theme colors.
$theme-primary-color: '';

// Text colors.

$text-primary-color: '#ff0000';
$text-secondary-color: '';
$text-tertiary-color: '';

$text-header-color: $text-primary-color;
$text-block-header-color: $text-secondary-color;

$text-emphasized-color: $text-tertiary-color;
