// Base styling

body {
  background: $theme-background;
  margin: 0;
  padding: 0;
}

.branding {
  background: url('../images/primary-pattern.png');
  padding-bottom: $default-spacing * 1.5;
  padding-top: $default-spacing * 1.5;
}

// Basic elements
// -------------------------

// Default horizontal ruler styles
hr {
  @include colruler();
  &.primary{
    @include colruler($theme-primary-color);
  }
  &.secondary{
    @include colruler($theme-secondary-color);
  }
  &.tertiary{
    @include colruler($theme-tertiary-color);
  }
}