// This file holds all the variables for the theme.
//
// Compass version 0.12.2 (Alnilam)

@import "compass/css3";

// The default font
@include font-face("Amble Light Condensed", font-files("amble/Amble-LightCondensed-webfont.woff", "amble/Amble-LightCondensed-webfont.ttf", "amble/Amble-LightCondensed-webfont.svg"), "amble/Amble-LightCondensed-webfont.eot", 'normal', 'normal');

// Standard color definitions.
$black:                 #000    !default;
$gray-dark:             #bdbdbd !default;
$gray:                  #d5d5d5 !default;
$gray-light:            #e7e7e7 !default;
$white:                 #fff    !default;

// Theme color definitions
$theme-primary-color:       #fff !default;
$theme-secondary-color:     #00b7e7 !default;
$theme-background-color:    #fff !default;
$theme-background-pattern:  url('../images/default-bg-pattern.png') !default;
$theme-header-background:   #1b1b1b !default;
$theme-header-pattern:      none !default; //url('../images/primary-pattern.png') !default;
$theme-content-background:  #fff !default;


// Font variables
$theme-font-size:     13px !default;
$theme-line-height:   18px !default;
$theme-font-family:   "Amble Light Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Headers
$header-font-size:  30px !default;
$header-text-color: #1b1b1b !default;


// Text colors
$text-primary-color:         #1b1b1b !default;
$text-selection-color:       $text-primary-color !default;
$text-selection-background:  $gray-light !default;


// Links
$link-color:              #00b7e7 !default;
$link-color-hover:        darken($link-color, 20%) !default;


// Blocks
$theme-block-color:               lighten($text-primary-color, 25%) !default;
$theme-block-background:          $theme-primary-color !default;
$theme-block-inverse-color:       $theme-primary-color !default;
$theme-block-inverse-background:  $theme-secondary-color !default;


// Grids and spacing
$default-spacing: 20px !default;


// Navigation
$navbar-background-color: #009dc6 !default;
$navbar-text-color:       lighten($gray-light, 25%) !default;
$navbar-item-spacing:     $default-spacing / 2 $default-spacing !default;


// Sidebar
$sidebar-background-color:  White !default;
$sidebar-text-color:        Black !default;
$sidebar-item-spacing:      $default-spacing / 2;

// Lists
$list-item-spacing:         10px !default;
$list-picture-width:        25% !default;
