// Default typography for the theme.

@import 'latto.variables.scss';

body {
  color: $text-primary-color;
  font-family: $theme-font-family;
  font-size: $theme-font-size;
  line-height: $theme-line-height;
}

/* ==========================================================================
   Colors for ::selection
   ========================================================================== */
@include selection($text-selection-color, $text-selection-background);

// Headers
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-primary-color;
  font-weight: normal;
  a {
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: $text-primary-color;
    }
    &:hover {
      color: darken($text-primary-color, 25%);
    }
    &:focus {
      color: $link-color-hover;
    }
    &:active {
      background-color: $text-selection-background;
      color: $text-selection-color;
    }
  }
}

h1 {
  color: $text-primary-color;
}

h3 {
  line-height: $theme-line-height * 1.25;
}

// Links
// -------------------------

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
  &:focus {
    color: $link-color-hover;
  }
}

b,
strong {
  // Custom styling for bold and strong text goes here.
}

em {
  // Custom styling for emphasized text goes here.
}


// Size classes.
// -------------------------

.small {
  font-size: $theme-font-size * .5;
}

.medium {
  font-size: $theme-font-size * .75;
}

.big {
  font-size: $theme-font-size * 1.25;
}

.bigger {
  font-size: $theme-font-size * 1.375;
}

.biggest {
  font-size: $theme-font-size * 1.5;
}