// Grid system based on http://zengrids.com.

@import "zen";

$zen-column-count: 16;
$zen-gutter-width: $default-spacing;

/* See: http://zengrids.com/help/#vars-legacy */
$box-sizing-polyfill-path: '../scripts/boxsizing.htc';

#page {
  @include zen-grid-container; // Apply this mixin to the container.
}

.grid-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.grid-3-left {
  @include zen-grid-item(3, 1);
}

.grid-3-center-left {
  @include zen-grid-item(3, 4);
}

.grid-3-center-right {
  @include zen-grid-item(3, 4, right);
}

.grid-3-right {
  @include zen-grid-item(3, 1, right);
}

.grid-4-left {
  @include zen-grid-item(4, 1);
}

.grid-4-center-left { 
  @include zen-grid-item(4, 5);
}

.grid-4-center-right {
  @include zen-grid-item(4, 9);
}

.grid-4-right {  
  @include zen-grid-item(4, 1, right);  
}

.grid-8-left {
  @include zen-grid-item(8, 1);
}

.grid-8-right {
  @include zen-grid-item(8, 1, right);
}

.grid-10-left {
  @include zen-grid-item(10, 1);
}

.grid-10-center {
  @include zen-grid-item(10, 4);
}

.grid-10-right {
  @include zen-grid-item(10, 1, right);
}

.grid-12-left {
  @include zen-grid-item(12, 1);
}

.grid-12-right {
  @include zen-grid-item(12, 1, right);
}

.grid-13-left {
  @include zen-grid-item(13, 1);
}

.grid-13-right {
  @include zen-grid-item(13, 1, right);
}

.grid-full {
  @include zen-clear(both);
  @include zen-grid-item($zen-column-count, 1);
}

.grid-clear-both {
  @include zen-clear(both);
}

.grid-clear-left {
  @include zen-clear(left);
}

.grid-clear-right {
  @include zen-clear(right);
}

.grid-stack {
  @include zen-clear(both);
  @include zen-grid-item($zen-column-count,1);  
}

.grid-row {
  @include zen-clear(both);
  @include append-bottom();
  &.last {
    @include append-bottom(0);
  }
}






// Debugging.

.add-spacing-after {
  margin-bottom: 1em;
}

.tdcss-fragment {
  .grid-row {
    .grid-inner {
      background-color: #f1f1f1;
      border: 1px dashed #e1e1e1;
      padding: .5em;
    }
    &:after {
      clear: both;
      content: "";
      display: table;    
    }
  }
}
  
@media screen
and (max-width: 768px) {
  body {
    background-color: red;
  }

  .content {
    @include zen-clear(both);
    @include zen-grid-item(16,1); // Apply this mixin for each grid item in the container.
  }
  
  .sidebar-first {
    @include zen-clear(both);
    @include zen-grid-item(8,1); // Apply this mixin for each grid item in the container.
  }

  .sidebar-second {
    @include zen-grid-item(8,1, right); // Apply this mixin for each grid item in the container.  
  }

}
