// All the colors variables used in the other SCSS files.
// Change these variables, to change the color of your theme.
//
// Compass version 0.12.2 (Alnilam)
$black: #000 !default;
$grayDarker: lighten($black, 10%) !default;
$grayDark: lighten($black, 25%) !default;
$gray: lighten($black, 50%) !default;
$grayLight: lighten($black, 75%) !default;
$grayLighter: lighten($black, 90%) !default;
$white: #fff !default;

$blue: #049cdb !default;
$blueDark: #0064cd !default;
$green: #46a546 !default;
$red: #9d261d !default;
$yellow: #ffc40d !default;
$orange: #f89406 !default;
$pink: #c3325f !default;
$purple: #7a43b6 !default;


// Color Schemes
// Use this to roll your own color schemes if you like (unused by Bootstrap by default)
//
// $baseColor         - The base color
// $complement        - Determine a complmentary color
// $split1,
// $split2            - Split complements
// $triad1,
// $triad2            - Triads colors
// $tetra1,
// $tetra2            - Tetra colors
// $analog1,
// $analog2           - Analogs colors
$baseColor: $blue !default;
$complement: adjust-hue($baseColor, 180) !default;
$split1: adjust-hue($baseColor, 158) !default;
$split2: adjust-hue($baseColor, -158) !default;
$triad1: adjust-hue($baseColor, 135) !default;
$triad2: adjust-hue($baseColor, -135) !default;
$tetra1: adjust-hue($baseColor, 90) !default;
$tetra2: adjust-hue($baseColor, -90) !default;
$analog1: adjust-hue($baseColor, 22) !default;
$analog2: adjust-hue($baseColor, -22) !default;
