// Base styling
// -------------------------

@import 'latto.mixins.scss';

body {
  background: $theme-background;
  margin: 0;
  padding: 0;
}

header {
  background: url('../images/primary-pattern.png');
  overflow: hidden;
  padding-bottom: $default-spacing * 1.5;
  padding-top: $default-spacing * 1.5;
}

.logo {
  float: left;
  margin-right: $default-spacing;    
}

.site-name {
  color: $white;
  float: left;
  font-size: 450%;
  line-height: 100%;
}

.site-slogan {
  clear: left;
  color: $gray-light;
}


// Basic elements
// -------------------------

// Default horizontal ruler styles.
hr {
  @include colruler();
  &.primary {
    @include colruler($theme-primary-color);
  }
  &.secondary {
    @include colruler($theme-secondary-color);
  }
  &.tertiary {
    @include colruler($theme-tertiary-color);
  }
}

// Navigation
// -------------------------
.nav-wrapper {
  @include rgba-background($theme-primary-color,.60);
  overflow: hidden;
}


// List styling
// -------------------------

ul {  
  &.inline-list {
    float: left;
    margin: 0;
    li {
      display: block;
      float: left;
    }
  }
  
  &.stacked-list {
  }
  
  
}
