// Grid system based on http://zengrids.com.

@import "zen";

$zen-column-count: 16;
$zen-gutter-width: 10px;

#page {
 @include zen-grid-container; // Apply this mixin to the container.
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
}

.content-left {} // 8 columns positioned left
.content-right {} // 8 columns positioned right

.content-half-left {} // 6 columns positioned left
.content-half-right {} // 6 columns positioned right

.sidebar-wide-left {} // 4 columns positioned left
.sidebar-wide-center {} // 4 columns positioned center
.sidebar-wide-right {} // 4 columns positioned right

.sidebar-left {} // 3 columns positioned left
.sidebar-center-left {} // 3 columns positioned center left
.sidebar-center-right {} // 3 columns positioned center right
.sidebar-right {} // 3 columns positioned right

.content {
  @include zen-grid-item(8,5); // Apply this mixin for each grid item in the container.
}

.sidebar-first {
  @include zen-grid-item(4,1); // Apply this mixin for each grid item in the container.
}

.sidebar-second {
  @include zen-grid-item(4,13); // Apply this mixin for each grid item in the container.  
}

@media screen
and (max-width: 768px) {
  body {
  }

  .content {
    @include zen-grid-item(12,1); // Apply this mixin for each grid item in the container.
  }

  .sidebar-first {
    @include zen-grid-item(6,1); // Apply this mixin for each grid item in the container.
  }

  .sidebar-second {
    @include zen-grid-item(6,1); // Apply this mixin for each grid item in the container.  
  }  

}
